.wrapper {
  height: 100%;
  width: 100%;
  background: url(../../../assets/img/kover.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
 
}
